general:
  db: postgres://username:password@someserver/atombot

web:
  atom: http://bleu.west.spy.net/ispy/atom/

incoming:
  jid: your@bot/name
  pass: yourb0tp455
  beanstalkd: yourbeanstalkserver:11300
  tube: laconica-in

outgoing:
  beanstalkd: yourbeanstalkserver:11300
  tube: laconica-out

outgoing:
  beanstalkd: yourbeanstalkserver:11300
  tube: laconica-services

feeders:
- update@identi.ca

admins:
- you@example.com
